*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $roboto-font;
  line-height: 1.7;
  color: $paragraph-color;
  background-color: #f5f5f2;
}

.container {
  width: 100%;
  max-width: calc(100% - 188px);
  height: 100%;
  margin: 0;
  padding: 0;
  // padding-left: 15px;
  // padding-right: 15px;
  // background-color: #f5f5f2;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.left-bar {
  position: fixed;
  z-index: 1;
  width: 188px;
  height: 100vh;
  background-color: $left-menu-color;
}

.top-bar {
  position: fixed;
  z-index: 1;
  margin-left: 188px;
  width: 100%;
  height: 62px;
  background-color: white;
}

.content {
  position: absolute;
  margin-left: 188px;
  margin-top: 62px;
  margin-bottom: auto;
  width: calc(100% - 188px);
  padding: 0 15px;
  background-color: #f5f5f2;
}

/* Top menu */
.top-bar {
  border-bottom: 1px solid $grey-lighter;
}

.top-bar [class^='col-']:not(.col-lg-6):hover {
  background-color: $grey-lighter;
  transition: 0.3s;
}

.wallet-top-menu{
  border-left: 1px solid $grey-lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .wallet, .arrow-down{
    filter: $paragraph-color-svg;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  h1{
    font-size: 20px;
  }
}

.notification-box {
  border-left: 1px solid $grey-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .notification {
    filter: $paragraph-color-svg;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .orange-dot{
    height: 10px;
    width: 10px;
    background-color: $orange;
    z-index: 1;
    border-radius: 5px;
    position: relative;
    bottom: 9px;
    right: 30px;
  }
}

.profile-box {
  border-left: 1px solid $grey-lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .profile{
    filter: $paragraph-color-svg;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.quit-box{
  border-left: 1px solid $grey-lighter;
  display: flex;
  justify-content: center;
  align-items: center;

  .quit {
    filter: $paragraph-color-svg;
    margin: 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

/* Left bar menu */

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: $left-menu-color;

  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .navigation-list {
      width: 100%;

      .navigation-item {
        margin: 0;
        justify-content: center;
        display: flex;
        margin-top: 5px;
      }
    }
  }

  .row {
    padding: 10px 0;
    background-color: $grey-light;
    height: 40px;

    .ico {
      filter: $black-svg;
      width: 20px;
    }

    .col-sm-3 {
      border: none;
    }
  }
}

.logo {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 62px;
  padding-right: 50px;
  background-color: $left-menu-color;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px auto;
}

.hamburger {
  width: auto;
  padding: 10px;
  margin-right: auto;
  display: none;
  position: absolute;
  float: right;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.hamburger-box {
  width: 25px;
  height: 15px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  @include hamburger-line;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .3s .1s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  @include hamburger-line;

  content: '';
  left: 0;
  transition: transform .3s ease-in-out;
}

.hamburger-inner::before{
  top: -10px;
}

.hamburger-inner::after{
  top: 10px;
}

.hamburger-active .hamburger-inner {
  background-color: transparent;
}

.hamburger-active .hamburger-inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  z-index: -1;
  transform: translateY(-280%);
  transition: transform .5s ease-in-out;
  width: 100%;
  position: absolute;
  background-color: $left-menu-color;

  .navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  .navigation-item {
    display: flex;
    align-items: center;
    height: 38px;
    border-left: 4px solid $left-menu-color;
    color: $paragraph-color;
  }

  .navigation-item:hover{
    cursor: pointer;
    border-left: 4px solid $brand-main-color;
    background-color: $grey;
    transition: 0.3s;
    color: white;

    .ico {
      filter: $white-svg;
    }
  }

  .ico {
    filter: $paragraph-color-svg;
    margin: 0 20px;
    width: 16px;
    height: 16px;
  }
}

.navigation-active {
  transform: translateY(0);
}

.manager {
  width: 100%;
  background-color: $left-menu-color;
}

.manager h3 {
  text-align: center;
  border-top: 1px solid $paragraph-color;
  font-weight: 500;
  margin-top: 25px;
  padding: 20px;
}

.manager .photo {
  width: 50px;
  float: left;
}

.manager .green-dot {
  height: 10px;
  width: 10px;
  background-color: $online-green;
  z-index: 1;
  border-radius: 5px;
  position: relative;
  bottom: 53px;
  left: 33px;
}

.manager-box {
  display: flex;
  height: 3px;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 30px;

  &:hover {
    cursor: pointer;

    .small-link {
      color: $brand-main-color;
    }
  }
}

.manager-box .small-link{
  padding: 10px 0 0 15px;
}

/* Main content */

.in-active {
  display: none;
}

.date-period-box {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 0;
  border-top: 1px solid $grey-lighter;

  .btn-orange {
    margin-left: 13px;
    width: 40px;
  }

  .refresh {
    width: 18px;
    filter: $white-svg;
  }
}

.diagram-box {
  background-color: white;
  border-top: 1px solid $grey-lighter;
}

.list-box {
  display: flex;
  max-width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.list-box .list{
  width: 50%;
  padding: 0 32px;
  
}

.list-box .left{
  float: left;
}

.list-box .right{
  float: left;
}

.graph-diagram-box{
  margin: auto;
  width: 80%;
  padding-bottom: 50px;

  h2 {
    padding: 32px;
    display: inline-block;
    width: 100%;
  }

  .chart-box{
    padding: 0 32px;
    display: block;
    width: 100%;
    margin: auto;

    #myChart {
      width: auto;
    }
  }
}

.links-box {
  margin: 15px 0;
  height: 100%;
  background-color: white;
}

.links-box .btn-box {
  display: flex;
  justify-content: center;
  border-top: 1px solid $grey-lighter;
  margin: 0;
  padding: 24px;
}

.table-link {
  max-width: 80%;
  margin: auto;
}

/* Mondals */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 10px;
  display: inline-block;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}

#chatWithManager {
  width: 1060px;
}

#chatWithManager .section-header {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $paragraph-color;
}

.manager-status {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid $paragraph-color;

  img {
    width: 70px;
    height: 70px;
  }

  .status {
    display: inline-block;

    p {
      display: inline-block;
      font-size: 40px;
      color: black;
      margin: 0;
      font-weight: 700;
      padding-left: 10px;
    }
  
    span {
      display: block;
      color: white;
      font-size: 12px;
      background-color: $online-green;
      width: 50px;
      height: 20px;
      text-align: center;
      padding-bottom: 3px;
      border-radius: 3px;
      margin-left: 10px;
    }
  }
}

.chat-area {
  width: 100%;
  height: 600px;
  border-bottom: 1px solid $paragraph-color;
}

.input-box {
  display: flex;
  width: 100%;
  padding: 15px;

  .btn-orange{
    margin-left: 45px;
  }

  .input {
    position: relative;
    width: 80%;
    height: 40px;
  }

  input {
    padding-left: 50px;
    width: 100%;
    height: 100%;
    outline-style: none;
    border-color: 1px solid $paragraph-color;

    &:hover{
      border: 1px solid black;
    }
  }

  img {
    position: absolute;
    left: 5x;
    top: 10px;
    filter: $paragraph-color-svg;
    margin: 0 20px;
    width: 20px;
    height: 20px;
  }
  
}

@media(max-width: 767px) {
  @include grid('sm');
  
  .left-bar{
    display: none;
  }

  .top-bar {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hamburger {
    display: inline-block;
  }

  .content{
    margin-left: 0;
    width: 100%;
    padding: 5px;
  }

  .links-box .table-link{
    padding: 5px;
    
    td {
      border: none;
      padding: 5px;
    }

    tr {
      border-bottom: 1px solid $paragraph-color;
    }
  }

  #chatWithManager {
    height: 90vh;

    p {
      font-size: 24px;
    }
  }

  #chatWithManager .section-header {
    height: 70px;
    
    h1 {
      margin-right: 30px;
    }
  }
  
  .chat-area {
    height: 317px;
  }
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}